{
  "presets": [
    "env",
    "react"
  ],
  "plugins": [
    "add-module-exports",
    "transform-function-bind"
  ],
  "env": {
    "demo": {
      "plugins": [
        "./demo/node_modules/react-hot-loader/babel"
      ]
    }
  }
}
