{
  "presets": [
    ["env", {
      "targets": {
        "browsers": ["last 2 versions", "ie >= 9"]
      }
    }],
    "react"
  ],
  "plugins": [
    "add-module-exports",
    "transform-function-bind"
  ],
  "env": {
    "demo": {
      "plugins": [
        "./demo/node_modules/react-hot-loader/babel"
      ]
    }
  }
}
