{
  "presets": [
    ["env", {
      "targets": {
        "browsers": ["last 2 versions", "ie >= 9"]
      }
    }],
    "react"
  ],
  "plugins": [
    "add-module-exports",
    "transform-function-bind",
    "transform-object-rest-spread"
  ],
  "env": {
    "demo": {
      "plugins": [
        "react-hot-loader/babel"
      ]
    }
  }
}
